.homeBg{
    background-color: rgba(0, 0, 0, 0.4);
    border: groove 1px white;
    border-radius: 5px;
    margin-top: 20px;
    animation-name: homeBg;
    animation-duration: 1s;
}
@keyframes homeBg {
    0%   {margin-top: 100px; opacity: 0;}
    100% {margin-top: 20px; opacity: 1;}
  }

  .footerBg{
    background-color: rgba(0, 0, 0, 0.4);
    border: groove 1px white;
    border-radius: 5px;
}
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Orbitron:wght@500&family=Shadows+Into+Light&family=Staatliches&display=swap');

.sign{
    font-family: 'Shadows Into Light', cursive;
}

nav{
    background-color: rgba(0, 0, 0, 0.4);
    border: groove 1px white;
    border-radius: 5px;

}
a.active.navbar-brand{
    margin-left: 7px;
    font-family: 'Orbitron', sans-serif;
    
}
a.active.nav-link{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
a.nav-link{
    font-family: 'Staatliches', cursive;
    font-size: 18px;
}
.container{
    color: white;
}
h3{
    text-shadow: 1px 1px 3px #dbe6fd;
    font-family: 'Staatliches', cursive;
}
h4{
    text-shadow: 1px 1px 3px #dbe6fd;
    font-family: 'Staatliches', cursive;
}

.leoImg{
    border-radius: 10px;
    max-width: 150px;
}
.footerLogo{
    border-radius: 10px;
    max-width: 50px;
    margin: 5px;
}

p{
    position: relative;
    align-items:center;
    text-align:justify;
    font-family: 'Gothic A1', sans-serif;
}
.projectImg{
    max-width: 80%;
    border-radius: 10px;
    transition: .5s;
}
.projectImg:hover{
    content: 'Visist';
    opacity: .7;
    transition: .5s;
    cursor: pointer;
    max-width: 70%;
}

.github{
    text-decoration: underline;
    color: darkkhaki;
    font-weight: 600;
    transition: .5s;
}
.github:hover{
    color: white;
    transition: .5s;
}
.educationP{
text-align: center;
}
.eduLogo:hover{
    filter: grayscale(100%);
    transition: .5s;
}